<!DOCTYPE html>
<html lang="en" style="padding: 0% 0%; height: 0% 0%; background: #3AAFA9">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowDisease</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style1.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
    </style>
</head>

<body>
    <div class="navbar" style="font-family:'Anton', sans-serif;" ;>
        KnowDisease
        <span style="color: #2B7A78;; word-spacing: 0.01em; padding-left: 1vh;">
            ML Powered Health Diagnostic
        </span>
    </div>
    <div class="container">
        <div class="bg-img" style="justify-content: right;display: grid;position: relative;">
            <img src="static/css/giphy.gif" alt="" style="height: 100%;">
        </div>
        <div class="home" style="width: 5%; ">
            <a href="/">
                <button>
                    <h1>Home</h1>
                </button>
            </a>
        </div>
        <!-- <ul>
                <li>Select one file at a time,.</li>
                <li>Both coloured and grayscaled images work.</li>
                <li>Image can be of any size or resolution</li>
                <li>Try to crop out any useless area of the xray for accurate results.</li>
            </ul> -->
    </div>
    </div>
</body>

</html>